[submodule "test"]
	path = test
	url = https://github.com/alicemont1/test
[submodule "polytope-examples"]
	path = polytope-examples
	url = https://github.com/destination-earth-digital-twins/polytope-examples
